
.contact-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh; 
    background-color: #8055BE;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
    }
  }
  
  .matrix-image4 {
    flex:1;
    height: 100vh;
    background-image: url('https://i.imgur.com/gYQRxK3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @media (min-width: 768px) {
    .matrix-image {
      width: 50%;
      height: 100%;
    }
  }
  
  .contact-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #6a4ca0;
  }
  
  .contact-content h2 {
    font-size: 28px;
    color: #fafafa;
    margin-bottom: 25px;
  }
  
  
  .contact-content input,
  .contact-content textarea {
    width: 95%; 
    max-width: 500px;
    padding: 13px;
    margin: 10px 0;
    border: 1px solid #9b59b6; 
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  
  .contact-content textarea {
    height: 150px;
    resize: vertical;
  }
  
  
  .contact-button {
    width: 50%;
    max-width: 200px;
    padding: 12px;
    background-color: #00AF98;
    color: rgb(251, 247, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #8e44ad;
  }
  
  
  .success-message {
    background-color: #4CAF50; 
    margin-top: 40px;
    font-size: 16px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
  }
  
  .error-message {
    background-color: #f44336; 
    margin-top: 40px;
    font-size: 14px;
    color: white; 
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
  }
  