.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.forgot-password-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.recover-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50; /* Verde para o botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.success-message {
  color: #4CAF50; /* Verde para sucesso */
  margin-top: 15px;
}

.error-message {
  color: #f44336; /* Vermelho para erro */
  margin-top: 15px;
}
.success-message,
.error-message {
  position: absolute;
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da borda direita */
  padding: 10px;
  border-radius: 5px;
  max-width: 300px; /* Limita o tamanho da caixa de mensagem */
}

.success-message {
  background-color: #4CAF50; /* Verde para sucesso */
  color: white;
}

.error-message {
  background-color: #f44336; /* Vermelho para erro */
  color: white;
}
