
.register-container {
  display: flex;
  width: 100vw;
  height: 100vh; 
  background-color: #8055BE;
}

.matrix-image {
  width: 50%;
  height: 100%;
  background-image: url('https://i.imgur.com/aCRtcX0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.register-content h2 {
  font-size: 30px;
  color: #fafafa;
  margin-bottom: 20px;
}

.register-content input {
  width: 100%; 
  padding: 13px;
  margin: 10px 0;
  border: 1px solid #9b59b6; 
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; 
}

.register-button {
  width: 40%;
  padding: 10px;
  background-color: #00AF98; 
  color: rgb(251, 247, 252);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.register-button:hover {
  background-color: #8e44ad;
}

.success-message {
  background-color: #4CAF50; 
  margin-top: 15px;
  font-size: 16px;
  color: white;
}

.error-message {
  background-color: #f44336; 
  margin-top: 10px;
  font-size: 12px;
  color: white; 
}
